@font-face {
    font-family: 'National Park Regular';
    src: url('../text/NationalPark/NationalPark-Regular.woff2') format('woff2'), url('../text/NationalPark/NationalPark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National Park Heavy';
    src: url('../text/NationalPark/NationalPark-Heavy.woff2') format('woff2'), url('../text/NationalPark/NationalPark-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'National Park Outline';
    src: url('../text/NationalPark/NationalPark-Outline.woff2') format('woff2'), url('../text/NationalPark/NationalPark-Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National Park Thin';
    src: url('../text/NationalPark/NationalPark-Thin.woff2') format('woff2'), url('../text/NationalPark/NationalPark-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    background-color: #610e04;
    color: #ffaf00;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
    overflow-x: hidden;
}

body {
    font-family: "National Park Thin";
    text-align: left;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "National Park Regular";
}


/* Nav Bar */

.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #210002;
    transition: 500ms;
    transition-duration: 500ms;
    z-index: 4;
}

.navbar-brand {
    font-size: 1.25rem;
}

.nav a {
    color: #ffaf00;
    transition: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
}

.nav a:hover {
    color: #ff7000;
    transition: 500ms;
    transition-duration: 500ms;
}

.nav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav ul li a {
    display: block;
    color: #ffaf00;
    text-align: center;
    text-decoration: none;
}

.nav-hamburger i {
    color: #ffaf00;
    transition: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
}

.nav-hamburger i:hover {
    color: #ff7000;
    transition: 500ms;
    transition-duration: 500ms;
}


/* END Nav Bar */

main {
    /* this allows the section to sit below the header */
    min-width: 100vw;
    z-index: 1;
    background-color: #610e04;
    margin: 0;
    padding: 0;
    flex: 1;
}

section {
    color: white;
    min-height: 100vh;
    margin: 0;
    padding-top: 40px;
}

.logo {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    display: block;
    display: flex;
    align-items: center;
    text-align: center;
}

#ABOUT {
    background-color: #610e04;
}

#RSVP {
    background-color: #ffaf00;
}

#CAMPING {
    background: url("../images/Photos/tent-in-field.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ef7101;
}

.camping-block {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.photo {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#HOTELS {
    background-color: #a14135;
}

#EVENTS {
    background-color: rgba(30, 30, 30, 1);
}

#CONTACT {
    background-color: #fb5c01;
}

footer {
    margin: 0;
    padding: 0;
    width: 100vw;
    z-index: 2;
    font-size: 0.75em;
}