@font-face {
    font-family: 'National Park';
    src: url('NationalPark-Regular.woff2') format('woff2'),
        url('NationalPark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National Park';
    src: url('NationalPark-Heavy.woff2') format('woff2'),
        url('NationalPark-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'National Park';
    src: url('NationalPark-Regular.woff2') format('woff2'),
        url('NationalPark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National Park Outline';
    src: url('NationalPark-Outline.woff2') format('woff2'),
        url('NationalPark-Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National Park';
    src: url('NationalPark-Thin.woff2') format('woff2'),
        url('NationalPark-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'National Park Outline';
    src: url('NationalPark-Outline.woff2') format('woff2'),
        url('NationalPark-Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

